version: 2
updates:
- package-ecosystem: pip
  directory: "/"
  schedule:
    interval: daily
  automerged_updates:
    - match:
        dependency_type: "production"
        update_type: "all"
  open-pull-requests-limit: 10
