# Core
telethon >= 1.10.6
# Compatibility for 3.5
future-fstrings
# Config
pythondialog
# Heroku
heroku3
gitpython
# Translations
babel
# Eval
meval >= 2.2

## Modules
# Lyrics
lyricsgenius
# Speedtest
speedtest-cli >= 2.1.0
# Weather
pyowm
# Translation
pyyandextranslateapi
# Figlet rendering (mock)
pyfiglet
# Animated stickers
git+https://gitlab.com/mattia.basaglia/tgs@master  # master branch is required
# TTS
gtts
hachoir
# Updater
gitpython
# Lydia
coffeehouse
# UrbanDictionary
asyncurban
# Google Search
search-engine-parser >= 0.5.3
