# Telegram connection
git+https://github.com/GeekTG/Telethon.git@v6.21.1

# Config
pythondialog

# Heroku & Updater
heroku3
gitpython

# Translations
babel

# Eval
meval

# Web
aiohttp_jinja2

# Speedtest
speedtest-cli
