# Telegram connection
telethon

# Config
pythondialog ~= 3.5.1

# Heroku & Updater
heroku3 ~= 4.2.1
gitpython ~= 3.1.9

# Translations
babel ~= 2.8.0

# Eval
meval >= 2.4, ~= 2.4

# Web
aiohttp_jinja2 ~= 1.2.0

# IP Address
pymyip0
