<!DOCTYPE html>

{% set title_s %}{% block title %}ERROR{% endblock %}{% endset %}

<!--
    Friendly Telegram (telegram userbot)
    Copyright (C) 2018-2019 The Authors

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<html>
  <head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <title>Friendly-Telegram</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.light_blue-deep_purple.min.css"> 
    <style>
      .padded {
        padding: 16px;
      }
      .scroll-to-top {
        display: block;
        position: fixed;
        bottom: 30px;
        right: 30px;
        z-index: 99;
      }
    </style>
    <script src="{{ static("base.js") }}"></script>
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    {% block head %}{% endblock %}
  </head>
  <body>
    <div class="mdl-layout mdl-js-layout">
      <header class="mdl-layout__header">
        <div class="mdl-layout-icon"></div>
        <div class="mdl-layout__header-row">
          <span class="mdl-layout__title">
            {{ title_s }}
          </span>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout__title">
          {{ title_s }}
        </span>
        <nav class="mdl-navigation">
          {% include "nav.jinja2" %}
        </nav>
      </div>
      <main class="mdl-layout__content">
        <div class="page-content mdl-grid">
          <div class="mdl-layout-spacer"></div>
          <div class="mdl-cell mdl-cell--8-col">
            <div class="mdl-card mdl-shadow--2dp padded" style="width:100%;">
              {% block content %}
                <p><b>An internal error occured.</b></p>
              {% endblock %}
            </div>
            <div id="snackbar" class="mdl-js-snackbar mdl-snackbar">
              <div class="mdl-snackbar__text"></div>
              <button class="mdl-snackbar__action" type="button"></button>
            </div>
            {% block after %}{% endblock %}
          </div>
          <div class="mdl-layout-spacer"></div>
        </div>
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored scroll-to-top" onclick="scrollToTop();">
          <i class="material-icons">arrow_upward</i>
        </button>
      </main>
    </div>
  </body>
</html>
