<!--
    Friendly Telegram Userbot
    by GeekTG Team
-->

<a class="mdl-navigation__link" href="/">
  <i class="material-icons">home</i>
  Home
</a>
<a class="mdl-navigation__link" href="/config">
  <i class="material-icons">extension</i>
  Configuration
</a>
<a class="mdl-navigation__link" href="/translate">
  <i class="material-icons">language</i>
  Translations
</a>
<a class="mdl-navigation__link" href="/settings">
  <i class="material-icons">settings</i>
  Settings
</a>
<a class="mdl-navigation__link" href="https://friendly-telegram.gitlab.io">
  <i class="material-icons">help_outline</i>
  Help
</a>
<a class="mdl-navigation__link" href="/logOut">
  <i class="material-icons">exit_to_app</i>
  Log Out
</a>
