<!--
    Friendly Telegram Userbot
    by GeekTG Team
-->

{% extends "base.jinja2" %}

{% block title %}
	Friendly-Telegram
{% endblock %}

{% block content %}
	<div class="mdl-card__title">
		<h3 class="mdl-card__title-text">Welcome to the Friendly-Telegram web interface</h3>
	</div>
	<div class="mdl-card__supporting-text">
		Here you can configure various features of Friendly-Telegram, as well as access debugging tools and status
		reports
		<br>
		You are signed in as {{ name }} ({{ uid }}).
		<br>
		Click the hamburger menu to the left to begin.
	</div>
{% endblock %}
