<!--
    Friendly Telegram (telegram userbot)
    Copyright (C) 2018-2021 The Authors

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<!--
    Modded by GeekTG Team
-->



{% extends "base.jinja2" %}

{% block title %}
    Friendly-Telegram
{% endblock %}

{% block content %}
    <div class="mdl-card__title">
        <h3 class="mdl-card__title-text">Welcome to the Friendly-Telegram web interface</h3>
    </div>
    <div class="mdl-card__supporting-text">
        Here you can configure various features of Friendly-Telegram, as well as access debugging tools and status
        reports
        <br>
        You are signed in as {{ name }} ({{ uid }}).
        <br>
        Click the hamburger menu to the left to begin.
    </div>
{% endblock %}
