<!--
    Friendly Telegram (telegram userbot)
    Copyright (C) 2018-2021 The Authors

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<!--
    Modded by GeekTG Team
-->



{% set ns = namespace(module_number=0) %}
{% set ns2 = namespace(module_number=0) %}

{% extends "base.jinja2" %}

{% block head %}
	<script src="{{ static('settings.js') }}"></script>
{% endblock %}

{% block title %}
	Friendly-Telegram
{% endblock %}

{% block content %}
	<div class="mdl-card__title">
		<h3 class="mdl-card__title-text">Welcome to the Friendly-Telegram web interface</h3>
	</div>
	<div class="mdl-card__supporting-text">
		Here you can configure various features of Friendly-Telegram, as well as access debugging tools and status
		reports
		<br><br>
		You are currently managing permissions
		<p><strong>You must restart after changing any of these settings or they will not take effect</strong></p>
		{% for module in modules %}
			{% set ns.module_number = ns.module_number + 1 %}
			{% if module.commands %}
				<br>
				<a href="#module_{{ ns.module_number }}">{{ module.name }}</a>
			{% endif %}
		{% endfor %}
	</div>
{% endblock %}

{% block after %}
	<br>
	<div class="mdl-card mdl-shadow--2dp padded" style="width:100%;">
		<div class="mdl-card__title">
			<h3 class="mdl-card__title-text">Permissions</h3>
		</div>
		<div class="mdl-card__supporting-text">
			<p>You can customise which permission sets are enabled and who is in them below</p>
			<p><strong>If a switch is disabled here, it is disabled universally for all commands</strong></p>
			{% include 'permission_setting.jinja2' %}
		</div>
	</div>


	<br>
	<div class="mdl-card mdl-shadow--2dp padded" style="width: 100%;" id="groups">
		<div class="mdl-card__title">
			<h4 class="mdl-card__title-text">Permission Groups</h4>
		</div>
		<div class="mdl-cad__supporting-text" style="width:100%;">
			<h5 style="font-weight: 300;">Owner</h5>
			<p>The owner is the highest level of privilege. They can use any command by default (though this can be
				configured). Enter the IDs below, comma separated, or leave blank to use the currently signed in
				user.</p>
			<br>
			<form action="#">
				<div class="mdl-textfield mdl-js-textfield">
					<input class="mdl-textfield__input" type="text" pattern="([0-9]+(,\s*|$))+" id="owner_ids"
					       data-defaultvalue="" data-currentvalue="{{ owner }}" value="{{ owner }}"
					       onchange="setGroup(this, 'owner');">
					<label class="mdl-textfield__label" for="owner_id">Owner IDs...</label>
					<span class="mdl-textfield__error">Input is not a number!</span>
				</div>
			</form>

			<br>
			<h5 style="font-weight: 300;">Sudo</h5>
			<p>Sudo users are the highest non-owner level of privilege. They can use most commands by default. Enter the
				IDs below, comma-separated.</p>
			<br>
			<form action="#">
				<div class="mdl-textfield mdl-js-textfield">
					<input class="mdl-textfield__input" type="text" pattern="([0-9]+(,\s*|$))+" id="sudo_ids"
					       data-defaultvalue="" data-currentvalue="{{ sudo }}" value="{{ sudo }}"
					       onchange="setGroup(this, 'sudo');">
					<label class="mdl-textfield__label" for="sudo_ids">Sudo IDs...</label>
					<span class="mdl-textfield__error">Input is not a comma-separated list of numbers!</span>
				</div>
			</form>

			<br>
			<h5 style="font-weight: 300;"></h5>
			<p>Support users are the lowest special level of privilege. They can only use a few commands by default.
				Enter the IDs below, comma-separated.</p>
			<br>
			<form action="#">
				<div class="mdl-textfield mdl-js-textfield">
					<input class="mdl-textfield__input" type="text" pattern="([0-9]+(,\s*|$))+" id="support_ids"
					       data-defaultvalue="" data-currentvalue="{{ sudo }}" value="{{ support }}"
					       onchange="setGroup(this, 'support');">
					<label class="mdl-textfield__label" for="support_ids">Support IDs...</label>
					<span class="mdl-textfield__error">Input is not a comma-separated list of numbers!</span>
				</div>
			</form>
			<br>
		</div>
	</div>


	{% for module in modules %}
		{% set ns2.module_number = ns2.module_number + 1 %}
		{% if module.commands %}
			<br>
			<div class="mdl-card mdl-shadow--2dp padded" style="width: 100%;" id="module_{{ ns2.module_number }}">
				<div class="mdl-card__title">
					<h4 class="mdl-card__title-text">{{ module.name }}</h4>
				</div>
				<div class="mdl-cad__supporting-text" style="width:100%;">
					<p>{{ module|getdoc }}</p>
					{% for command_name, command in module.commands.items() %}
						<br>
						<h5 style="font-weight: 300;">{{ command_name }}</h5>
						{% include 'permission_setting.jinja2' %}
						<br>
					{% endfor %}
				</div>
			</div>
		{% endif %}
	{% endfor %}
{% endblock %}
