{% extends "base.jinja2" %}

{% block head %}
<style>
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');
  i {
    user-select: none;
  }
  .user {
    padding: 20px;
    display: inline-block;
    width: calc(33% - 30px);
    margin: 15px;
    box-sizing: border-box;
  }

  * {
    --avatarSizeText: 26px;
    --avatarSize: 64px;
  }

  .avatar img {
    width: var(--avatarSize);
    height: var(--avatarSize);
    border-radius: 50%;
  }

  .avatar {
    margin: 0 15px 0 0;
  }

  .avatar:after {
    content: '';
    display: block;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: rgba(100, 130, 255, .4);
    margin-top: -100%;
    border-radius: 50%;
    filter: blur(6px);
    position: relative;
  }

  .flex {
    display: flex;
  }

  .user h1 {
    color: #ccc;
    font-size: var(--avatarSizeText);
    line-height: var(--avatarSize);
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
  }

  .user p {
    width: 80%;
    color: #777;
    font-size: 16px;
    margin-left: calc(var(--avatarSize) + 15px);
    margin-top: calc(var(--avatarSizeText) * 2 - var(--avatarSize) + 5px);
    font-style: italic;
  }

  .admin {
    text-align: center;
    margin: 0;
    padding: 0 0 20px 0;
    color: #eee;
    font-size: 32px;
  }

  @media screen and (max-width: 736px) {
    .user {
      width: 100%;
      margin: 10px 0;
    }
  }
</style>
{% endblock %}

{% block content %}
<h1 class="admin">Our admin stuff</h1>
<div class="user">
  <div class="flex">
    <div class="avatar"><img src="https://i.imgur.com/5awLJly.jpeg"></div>
    <h1>hikari.</h1>
  </div>
</div><div class="user">
  <div class="flex">
    <div class="avatar"><img src="https://i.imgur.com/IDWDif2.jpeg"></div>
    <h1>lav.</h1>
  </div>
</div><div class="user">
  <div class="flex">
    <div class="avatar"><img src="https://i.imgur.com/eCzQPzS.jpeg"></div>
    <h1>D4n13l3k00</h1>
  </div>
</div><div class="user">
  <div class="flex">
    <div class="avatar"><img src="https://i.imgur.com/Hn8OcQi.jpeg"></div>
    <h1>Łukasempaiz</h1>
  </div>
</div>
{% endblock %}
